.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  padding-bottom: 15vh;
}


.modal-content {
  background-color: #e5e7eb;
  border-radius: 12px;
  padding: 20px 30px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  position: relative;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-title {
  font-size: 22px;
  margin: 0px;
  font-weight: bold;
}

.modal-message {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 25px;
  flex-grow: 1;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.modal-buttons button {
  color: black;
  padding: 8px 20px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  min-width: 100px;
  transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}

.modal-cancel {
  background-color: #f06565;
  color: #111;
}

.modal-cancel:hover {
  background-color: #d84343;
  transform: scale(1.05);
}

.modal-confirm {
  background-color: #059669;
}

.modal-confirm:hover {
  background-color: #047857;
  transform: scale(1.05);
}

.modal-close {
  color: black;
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .modal-content {
    max-width: 375px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .modal-buttons {
    gap: 10px;
  }
}

@media (max-width: 390px) {
  .modal-content {
    max-width: 365px;
    margin-right: 22px;
  }
}


@media (max-width: 375px) {
  .modal-content {
    max-width: 400px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .modal-close{
    margin-right: 20px;
  }

  .modal-content div{
    margin-top: 0px;
  }

  .modal-content .modal-message{
    margin-top: 10px;
  }
}

@media (max-width: 360px) {
  .modal-content {
    max-width: 400px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .modal-close{
    margin-right: 20px;
  }
}